<md-dialog aria-label="Questionnaire pour connaître vos préférences">
    <form class="form-survey" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Questionnaire pour connaître vos préférences</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <!-- <md-icon md-svg-src="" aria-label="Fermer cette boite de dialogue"></md-icon> -->
                    <md-icon class="material-icons step" ng-init="close_icon = 'close'"
                             ng-bind="close_icon">
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" ng-if="questions">
                <div class="titleSurvey" flex ng-if="prenomUser" style="text-align: center;">
                    <span class="prenom">{{ prenomUser }}</span>, soyez le plus honnête possible 😄
                </div>
                <div class="titleSurvey" flex ng-if="!prenomUser" style="text-align: center;">
                    Soyez le plus honnête possible 😄
                </div>
                <br/>
                <div flex ng-repeat="interrogation in questions" layout="row" layout-align="center center">
                    <md-list ng-cloak>
                        <md-subheader class="md-no-sticky">{{interrogation.question}}</md-subheader>
                        <md-list-item ng-repeat="reponse in interrogation.reponses">
                            <p> {{ reponse.texte }} </p>
                            <md-checkbox class="md-secondary" ng-model="answers[reponse.id]" aria-label="Checkbox{{ reponse.id }}"></md-checkbox>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                 </div>
            </div>

            <div class="md-dialog-content" ng-if="!questions">
                <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="sendSurvey()">
                Envoyer mes réponses
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

