
<div layout="row" id="subscribe-container" class="subscribe-container">

    <div flex="0" flex-gt-md="33"></div>

    <div flex="100" flex-gt-md="33" layout="column">

        <div flex="80">

            <md-card class="subscription-card">

                <md-card-title layout="column" layout-align="center center">
                    <i class="material-icons large-icon text-green">account_circle</i>
                    <h2>Inscription</h2>
                </md-card-title>

                <md-card-content layout="column" layout-align="center center" ng-if="subscribeCtrl.subscribing">
                    <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
                </md-card-content>

                <md-card-content layout="column" layout-align="center center" ng-hide="subscribeCtrl.subscribing">

                    <div flex="80" layout="column" layout-align="center end">
                        <md-input-container flex>
                            <label>Prenom</label>
                            <input ng-model="subscribeCtrl.user.prenom" type="text" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="subscribeCtrl.user.mail" type="email" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Telephone</label>
                            <input ng-model="subscribeCtrl.user.telephone" type="text" pattern="^[0]{1}[1-9]{1}[0-9]{8}$">
                        </md-input-container>
                        <!--<md-input-container class="md-block" flex>
                            <label>Rôle</label>
                            <md-select ng-model="subscribeCtrl.user.role">
                                <md-option ng-repeat="role in subscribeCtrl.roles" value="{{role}}">
                                    {{role}}
                                </md-option>
                            </md-select>
                        </md-input-container>-->
                        <md-input-container>
                            <md-button class="md-raised" ng-disabled="subscribeCtrl.user.reponses.length > 0" ng-click="subscribeCtrl.fillInSurvey()">{{ subscribeCtrl.textButtonSurvey }}</md-button>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Mot de passe</label>
                            <input ng-model="subscribeCtrl.user.password" type="password" pattern="^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)\S{6,}$" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Confirmation de Mot de passe</label>
                            <input ng-model="subscribeCtrl.user.confirmPassword" type="password" pattern="^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)\S{6,}$" required>
                        </md-input-container>
                    </div>
                    <span ng-if="subscribeCtrl.erreur" class="Subscription-error-message"> {{ subscribeCtrl.erreur }}</span>
                    <!--<div class="alert" ng-class="messageClass" ng-show="message">{{message}}</div>-->

                    <div class="margin-top-30" layout="column">
                        <md-button class="md-raised md-primary text-white" ng-if="!subscribeCtrl.subscribing" ng-click="subscribeCtrl.subscribe(subscribeCtrl.user)">Inscription</md-button>
                    </div>

                </md-card-content>
            </md-card>


        </div>

        <div flex="20"></div>
    </div>

    <div flex="0" flex-gt-md="33"></div>

</div>