.subscribe-container {
    height: 100%;
}

.form-survey{
    text-align: center;
}

.titleSurvey{
    font-size: 12pt;
    font-weight: bold;
}

.titleSurvey .prenom{
    font-size: 15pt !important;
    color: darkgreen;
}
