


.login-container {
    height: 100%;
}

.connection-card {
    width: 75%;
    height: 75%;
}

.connection-card md-card-content {
    height: 75%;
}

.connection-card md-card-content div {
    height: 100%;
}



/* Connection */
.imgUserConnection{
    width: 100px;
    height: 100px;
}

.login-error-message {
    color: red;
}

.user-container{
    margin-right: 50px;
}
