
<div layout="row" class="login-container" ng-controller="connectionCtrl as connectionCtrl" layout-wrap>

    <div flex="0" flex-gt-md="33"></div>

    <div flex="100" flex-gt-md="33" layout="row">

        <div flex="100" flex-gt-md="100" layout="row" layout-align="center center">

            <md-card class="connection-card">
                <md-button md-no-ink href="/#!/subscribe" hide-xs hide-sm hide-md class="md-raised bg-red text-white">Pas encore inscrit ? Cliquez-ici pour nous rejoindre </md-button>
                <md-button md-no-ink href="/#!/subscribe" hide-gt-md class="md-raised bg-red text-white">Pas encore inscrit ? Rejoignez-nous ! </md-button>

                <md-card-title layout="column" layout-align="center center">
                    <i class="material-icons large-icon text-green">account_circle</i>
                    <h2>Connexion</h2>
                </md-card-title>

                <md-card-content layout="column" layout-align="center center" ng-if="connectionCtrl.connecting">
                    <md-progress-circular  md-mode="indeterminate"></md-progress-circular>
                </md-card-content>

                <md-card-content layout="column" layout-align="center center" ng-hide="connectionCtrl.connecting">

                    <div flex="50" layout="column" layout-align="center end">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="email" type="email">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Mot de passe</label>
                            <input ng-model="password" type="password">
                        </md-input-container>
                    </div>
                    <span ng-if="connectionCtrl.erreur" class="login-error-message"> {{ connectionCtrl.erreur }}</span> 

                    <div class="margin-top-30" layout="column">
                        <md-button class=" md-raised md-primary text-white" ng-if="!connectionCtrl.connecting" ng-click="connectionCtrl.connect(email, password)">Connexion</md-button>
                    </div>

                    <div flex layout="row" layout-align="end center">
                        <md-button href="/#!/password-forgot" md-no-ink class="md-primary">Mot de passe oublié ?</md-button>
                    </div>

                </md-card-content>
            </md-card>


        </div>

    </div>

    <div flex="0" flex-gt-md="33"></div>

</div>