

<div layout="row" layout-align="center center" layout-wrap>

    <div layout="row" layout-align="center center" flex="100" flex-gt-sm="33">
        <h1 hide-xs hide-sm hide-md>
            VOTRE PANIER
        </h1>
        <h2 hide-gt-md>
            VOTRE PANIER
        </h2>
    </div>
    <div flex="100" flex-gt-sm="66" layout="column" ng-if="cartCtrl.cart.produits.length > 0">
        <md-card class="product-card" flex ng-repeat="product in cartCtrl.cart.produits">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ product.produit.nom }}</span>
                    <span class="md-subhead">{{ product.produit.description }}</span>
                    <span class="md-headline">{{ product.produit.prixTTC }} €</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="data:image/png;base64,{{ product.imageProduct }}">
                    </div>
                </md-card-title-media>
            </md-card-title>

            <md-card-actions layout="row" layout-align="space-between center">

                <div>
                    <md-button class="md-fab md-mini md-primary" aria-label="Add" ng-click="cartCtrl.updateQty(product, product.quantite+1)">
                        <i class="material-icons">
                            add
                        </i>
                    </md-button>
                    {{ product.quantite }}
                    <md-button ng-disabled="product.quantite == 1" class="md-fab md-mini md-primary" aria-label="Remove" ng-click="cartCtrl.updateQty(product, product.quantite-1)">
                        <i class="material-icons">
                            remove
                        </i>
                    </md-button>
                </div>

                <!--<md-input-container class="md-block">
                    <label>Quantité</label>
                    <input type="number" name="quantite" min="1" ng-change="cartCtrl.updateQty(product.id, product.quantite)" ng-model="product.quantite">
                </md-input-container>-->

                <div>
                    <md-button class="md-icon-button md-primary" ng-click="cartCtrl.removeFromCart(product)" aria-label="Settings">
                        <i class="material-icons">
                            delete
                        </i>
                    </md-button>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="100" class="bg-green text-white" ng-if="cartCtrl.cart.produits.length > 0" >
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><strong>TOTAL </strong>{{ cartCtrl.cart.prixTTCTotal | currency:"€":2 }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <md-button href="/#!/order">COMMANDER</md-button>
            </md-card-actions>
        </md-card>
    </div>


</div>