<md-dialog flex="50" class="create-popup">
    <form ng-cloak class="full-height">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="text-white">Create a product</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="full-height">
            <md-tabs class="md-primary full-height" md-center-tabs>
                <md-tab label="Image">
                    <md-content class="md-padding full-height">
                        <p class="md-body-1" layout="column" layout-align="center center">
                        <div flex layout="row" layout-align="center center">
                            <img id="img-popup-create" src="">
                        </div>
                        <div flex layout="row" class="full-width" layout-align="center center">
                            <input type="file"
                                   id="picture-chooser-create" name="image"
                                   class="hidden"
                                   accept="image/*">
                            <md-button id="browse-image" class="md-raised md-primary text-white" ng-click="browse()">Browse</md-button>
                        </div>
                        </p>
                    </md-content>
                </md-tab>
                <md-tab label="Description" class="full-height">
                    <md-content class="md-padding full-height">
                        <div class="md-body-1 full-width" layout="column" layout-align="center center">
                            <div flex="30" layout="row" layout-align="center center" class="full-width">
                                <div flex="33" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Name</label>
                                        <input ng-model="modelCreate.nom" type="text">
                                    </md-input-container>
                                </div>
                                <div flex="33" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Stock quantity</label>
                                        <input ng-model="modelCreate.quantiteStock" type="number">
                                    </md-input-container>
                                </div>
                                <div flex="33" layout="row" layout-align="center center" class="full-width">
                                    <md-input-container class="full-width">
                                        <label>Reference</label>
                                        <input ng-model="modelCreate.reference" type="text">
                                    </md-input-container>
                                </div>
                            </div>
                            <div flex="70" layout="row" layout-align="center center" class="full-width">
                                <md-input-container class="md-block full-width">
                                    <label>Description</label>
                                    <textarea ng-model="modelCreate.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Pricing and weight" class="full-height">
                    <md-content class="md-padding full-height">
                        <div class="md-body-1 full-width" layout="column" layout-align="center center">
                            <div flex="100" layout="row" layout-align="center center" class="full-width">
                                <div flex="50" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Price</label>
                                        <input ng-model="modelCreate.prixHT" type="number">
                                    </md-input-container>
                                </div>
                                <div flex="50" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Weight</label>
                                        <input ng-model="modelCreate.poids" type="number">
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div flex layout="row" layout-align="center center">

                <md-progress-circular ng-show="creatingProduct" md-mode="indeterminate"></md-progress-circular>

                <md-button ng-show="!creatingProduct" ng-click="createProduct(modelCreate)">
                    CREATE
                </md-button>
            </div>
            <div flex layout="row" layout-align="center center">
                <md-button ng-click="closeDialog()">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
