<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="text-white">Product edition: {{ product.nom }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-align="center">
                <form id="updateForm">
                    <div flex="30" layout="column" layout-align="center center">
                        <div flex="70" layout="row" layout-align="center center">
                            <img id="img-popup" src="">
                        </div>
                        <div flex="30" layout="row" layout-align="center center">
                            <input type="file"
                                   id="picture-chooser" name="image"
                                   class="hidden"
                                   accept="image/*">
                            <md-button id="browse-image" class="md-raised md-primary text-white" ng-click="browse()">Browse</md-button>
                        </div>
                    </div>

                    <div flex="70" layout="column">
                        <div flex="30">
                            <md-input-container class="full-width">
                                <label>Name</label>
                                <input ng-model="modelUpdate.nom" type="text">
                            </md-input-container>
                        </div>
                        <div flex="70">
                            <md-input-container class="md-block full-width">
                                <label>Description</label>
                                <textarea ng-model="modelUpdate.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </form>
            </div>

            <div class="full-width" layout="row" layout-align="center center">
                <md-input-container class="md-block">
                    <label>Quantity</label>
                    <input type="number" ng-model="modelUpdate.quantiteStock">
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div flex layout="row" layout-align="center center">
                <md-button ng-click="updateProduct(modelUpdate)" ng-show="!loading">
                    Update
                </md-button>
                <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
            </div>
            <div flex layout="row" layout-align="center center">
                <md-button ng-click="closeDialog()">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
