.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.products-card-container {
    margin: 10px auto;
}

.products-container .products-card-container md-card  {
    width: 75%;
    height: 100%;
    margin: 10px auto;
}

.products-container md-card md-card-title md-card-title-media .md-media-lg,
.products-container md-card md-card-title md-card-title-media .md-media-lg img
{
    max-height: 100%;
}

.products-container md-card md-card-title md-card-title-media .md-media-lg img {
    width: auto;
}

.products-container {
    max-height: 100%;
    overflow-y: auto;
}

.edit-product-button, .delete-product-button {
    width: 40px !important;
    height: 40px !important;
}

#img-popup {
    width: 400px;
}

.delete-product-button {
    background-color: #f44336 !important;
    color: white !important;
}

.products-container md-card md-card-actions {
    height: 45px;
}

mat-dialog {
    width: 50%;
    height: 50%;
}

.create-popup {
    height: 50%;
}

#img-popup-create {
    width: 150px;
}