<div layout="row" class="full-height container">

    <md-card flex="50" layout="column">

        <div flex="20" layout="row" layout-align="center center">
            <div flex="50">
                <h2 class="center-align">Product list</h2>
            </div>
            <div flex="50" layout="row" layout-align="center center">
                <md-button class="md-fab md-primary" aria-label="" ng-click="profileWorkerCtrl.createProduct()" layout="row" layout-align="center center">
                    <i class="material-icons">add</i>
                </md-button>
            </div>
        </div>

        <div flex="80" layout="column" class="products-container" layout-align="center center" ng-if="!profileWorkerCtrl.productsLoading">
            <div flex="33" class="full-width products-card-container" ng-repeat="product in profileWorkerCtrl.productList">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ product.nom }}</span>
                            <span class="md-subhead">{{ product.description }}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div ng-if="product.img" class="md-media-lg card-media" layout="row" layout-align="center center">
                                <img src="data:image/png;base64,{{ product.img }}">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="center">

                        <div flex="50" layout="row" layout-align="start center">
                            <span>Stock: {{ product.quantiteStock }} products</span>
                        </div>

                        <div flex="50" layout="row" layout-align="end center">
                            <md-button ng-click="profileWorkerCtrl.editProduct(product);" class="md-fab md-primary edit-product-button" aria-label="Use Android" layout="row" layout-align="center center">
                                <i class="material-icons">edit</i>
                            </md-button>
                            <md-button class="md-fab md-primary delete-product-button" ng-click="profileWorkerCtrl.deleteProduct(product, $index)" aria-label="" layout="row" layout-align="center center">
                                <i class="material-icons">delete</i>
                            </md-button>
                        </div>

                    </md-card-actions>
                </md-card>
            </div>
        </div>

        <div flex="80" layout="column" class="products-container" layout-align="center center" ng-show="profileWorkerCtrl.productsLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

    </md-card>

    <md-card flex="50" layout="column">

        <div flex="10" layout="row" layout-align="center center">
            <h2 class="center-align">Profile</h2>
        </div>

        <div flex="90" layout="column" class="products-container" layout-align="center center" ng-show="profileWorkerCtrl.workerLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>


        <div flex="90" layout="row" class="profile-container" ng-if="!profileWorkerCtrl.workerLoading">

            <div layout="column" class="full-width" layout-align="center center">

                <div class="full-width" flex="100" layout="row" layout-align="center center">

                    <div flex="50" layout="row" layout-align="center center">
                        <img src="data:image/png;base64, {{ profileWorkerCtrl.worker.img }}">
                    </div>

                    <div flex="50" layout="column" layout-align="center center">

                        <div flex class="full-width" ng-repeat="key in [{'key': 'prenom'}, {'key': 'mail'}]" layout="row" layout-align="center center">

                            <div flex="50" ng-init="key.showEdit = key.loading = false; key.value = profileWorkerCtrl.worker.user[key.key];" layout="row" layout-align="center center">

                                <h3 ng-show="!key.showEdit" class="center-align">{{ profileWorkerCtrl.worker.user[key.key] }}</h3>

                                <md-input-container ng-show="key.showEdit">
                                    <label>{{ key.key | uppercase }}</label>
                                    <input type="text" ng-model="key.value">
                                </md-input-container>
                            </div>

                            <div flex="50" layout="row" layout-align="center center" ng-show="key.loading">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>

                            <div flex="50" layout="row" layout-align="center center" ng-show="!key.loading">

                                <div ng-show="!key.showEdit" layout="row" layout-align="center center">
                                    <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="key.showEdit = true;" layout="row" layout-align="center center">
                                        <i class="material-icons">edit</i>
                                    </md-button>
                                </div>

                                <div ng-show="key.showEdit" layout="row" layout-align="space-around center">
                                    <md-button class="md-fab md-mini" ng-click="profileWorkerCtrl.updateWorker(key); key.loading = true;" aria-label="Eat cake" layout="row" layout-align="center center">
                                        <i class="material-icons">check</i>
                                    </md-button>

                                    <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="key.showEdit = false;" layout="row" layout-align="center center">
                                        <i class="material-icons">close</i>
                                    </md-button>
                                </div>

                            </div>

                        </div>

                        <div flex class="full-width" layout="row" layout-align="center center">
                            <h3>Points de fidélité: {{ profileWorkerCtrl.user.pointsFidelite }}</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </md-card>
</div>
