<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ product.nom }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Général">
                    <md-content class="md-padding general-data-container" layout="column">
                        <div layout="row" layout-align="center center">
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Nom</label>
                                    <input ng-model="productModel.nom">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Description</label>
                                    <input ng-model="productModel.description">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Référence</label>
                                    <input ng-model="productModel.reference">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" layout-align="center center">
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Prix HT</label>
                                    <input type="number" ng-model="productModel.prixHT">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Taux taxe</label>
                                    <input type="number" ng-model="productModel.tauxTaxe">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Poids (Kg)</label>
                                    <input ng-model="productModel.poids">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Quantité en stock</label>
                                    <input type="number" ng-model="productModel.quantiteStock">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Quantité minimum</label>
                                    <input type="number" ng-model="productModel.quantiteMinimum">
                                </md-input-container>
                            </div>
                            <div flex="33" layout="row" layout-align="center center">
                                <md-input-container>
                                    <label>Points de fidélité</label>
                                    <input type="number" ng-model="productModel.pointsFidelite">
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Tags">
                    <md-content class="md-padding" layout="column">
                        <md-input-container>
                            <label>Tags</label>
                            <md-select ng-model="productModel.nomsTag"
                                       md-on-close="clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a tag..."
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="tags">
                                    <md-option ng-value="tag.nom" ng-repeat="tag in tags | filter:searchTerm">{{tag.nom}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </md-content>
                </md-tab>

                <md-tab label="Image">
                    <md-content class="md-padding" layout="column">
                        <div flex layout="row" layout-align="center center">
                            <img id="img-popup-create" src="">
                        </div>
                        <div flex layout="row" class="full-width" layout-align="center center">
                            <input type="file"
                                   id="picture-chooser-create" name="image"
                                   class="hidden"
                                   accept="image/*">
                            <md-button id="browse-image" class="md-raised md-primary text-white">Parcourir</md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Annuler
            </md-button>
            <md-button ng-click="updateProduct(productModel)" style="margin-right:20px;" >
                Mettre à jour
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
