<md-dialog aria-label="" ng-init="closeIcon = 'close'; saveIcon = 'done';">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="quest.question">
                    {{ quest.question }}
                </h2>
                <h2 ng-show="!quest.question">
                    Saisir une question
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon ng-bind="closeIcon"> aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div>
                    <md-input-container>
                        <label>Question</label>
                        <input ng-model="quest.question">
                    </md-input-container>
                </div>


                <div ng-repeat="res in quest.reponses" layout="row" layout-align="center center">
                    <div flex="50" layout="row" layout-align="center center">
                        <md-input-container>
                            <label>Réponse</label>
                            <input ng-model="res.texte">
                        </md-input-container>
                    </div>
                    <div flex="50" layout="row" layout-align="center center">
                        <md-input-container>
                            <label>Tags</label>
                            <md-select ng-model="res.tags"
                                       md-on-close="clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="searchTerm"
                                           type="search"
                                           placeholder="Search for a tag..."
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="tags">
                                    <md-option ng-value="tag.nom" ng-repeat="tag in tags | filter:searchTerm">{{tag.nom}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layout-align="center center">
                    <md-button class="md-fab" aria-label="Eat cake" layout="row" layout-align="center center" ng-click="addTag()">
                        <i class="material-icons">
                            add
                        </i>
                    </md-button>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="createQuestion(quest)">
                CRÉER
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
