<md-toast role="alert" aria-relevant="all" layout="row" layout-align="center center">
    <span class="md-toast-text" flex layout="row" layout-align="center center">
        <i class="material-icons">
            warning
        </i>
        {{ctrl.toastMessage}}
        <i class="material-icons">
            warning
        </i>
    </span>
</md-toast>