.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.active-user {
    border-radius: 50%;
    width: 200px;
    max-height: 200px;
}

.active-user-details {
    padding: 15px 0;
}

h3 .material-icons {
    margin-right: 15px;
}

.general-data-container div {
    min-width: 33%;
}

.quest-text {
    min-width: 80%;
}

.quest-button {
    min-width: 20%;
}