<div layout="row" class="full-height">

    <md-tabs class="md-primary full-width" md-center-tabs>

        <md-tab label="Artisans">
            <div class="md-body-1 full-height" layout="row">
                <div flex="50" class="full-height" layout="row">
                    <md-card layout="column" class="full-width">
                        <md-card-content flex="100">
                            <md-progress-linear ng-if="profileAdminCtrl.general_loading_workers" md-mode="indeterminate"></md-progress-linear>
                            <md-tabs class="md-primary full-height worker-tabs" md-center-tabs>

                                <md-tab md-on-select="profileAdminCtrl.tabChangeEvent(1)" label="Gérer les artisans validés">
                                    <md-content class="md-padding">
                                        <div class="md-body-1" layout="row" layout-align="center center">
                                            <h3 ng-if="!profileAdminCtrl.vw_loading && profileAdminCtrl.validated_workers.length === 0">Pas d'artisan</h3>
                                            <md-list flex ng-if="!profileAdminCtrl.vw_loading">
                                                <md-list-item class="md-3-line" ng-repeat="w in profileAdminCtrl.validated_workers" ng-click="profileAdminCtrl.setActiveW(w)">
                                                    <img ng-src="data:image/png;base64,{{w.image}}" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>{{ w.user.prenom }}</h3>
                                                        <h4>{{ w.user.mail }}</h4>
                                                        <p>{{ w.nationalite }}</p>
                                                    </div>
                                                    <div class="md-list-item-text center-align" layout="row" layout-align="end center">
                                                        <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.blockWorker(w.id);" layout="row" layout-align="center center">
                                                            <i class="material-icons">
                                                                block
                                                            </i>
                                                        </md-button>
                                                    </div>
                                                </md-list-item>
                                            </md-list>

                                            <md-progress-circular ng-if="profileAdminCtrl.vw_loading" md-mode="indeterminate"></md-progress-circular>
                                        </div>
                                    </md-content>
                                </md-tab>

                                <md-tab md-on-select="profileAdminCtrl.tabChangeEvent(0)" label="Valider des artisans">
                                    <md-content class="md-padding">
                                        <div class="md-body-1" layout="row" layout-align="center center">
                                            <h3 ng-if="!profileAdminCtrl.vw_validate_loading && profileAdminCtrl.workers_to_validate.length === 0">Pas d'artisan à valider</h3>
                                            <md-list flex ng-if="!profileAdminCtrl.vw_validate_loading">
                                                <md-list-item class="md-3-line" ng-repeat="w in profileAdminCtrl.workers_to_validate" ng-click="profileAdminCtrl.setActiveW(w)">
                                                    <img ng-src="data:image/png;base64,{{w.image}}" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>{{ w.user.prenom }}</h3>
                                                        <h4>{{ w.user.mail }}</h4>
                                                        <p>{{ w.nationalite }}</p>
                                                    </div>
                                                    <div class="md-list-item-text center-align" layout="row" layout-align="end center">
                                                        <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.acceptWorker(w.user.mail);" layout="row" layout-align="center center">
                                                            <i class="material-icons">
                                                                done
                                                            </i>
                                                        </md-button>
                                                        <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.declineWorker(w.user.mail);" layout="row" layout-align="center center">
                                                            <i class="material-icons">
                                                                close
                                                            </i>
                                                        </md-button>
                                                    </div>
                                                </md-list-item>
                                            </md-list>
                                            <md-progress-circular ng-if="profileAdminCtrl.vw_validate_loading" md-mode="indeterminate"></md-progress-circular>
                                        </div>
                                    </md-content>
                                </md-tab>

                                <md-tab md-on-select="profileAdminCtrl.tabChangeEvent(2)" label="Artisans bloqués">
                                    <md-content class="md-padding">
                                        <div class="md-body-1" layout="row" layout-align="center center">
                                            <h3 ng-if="!profileAdminCtrl.vw_loading && profileAdminCtrl.blocked_workers.length === 0">Pas d'artisan bloqué</h3>
                                            <md-list flex ng-if="!profileAdminCtrl.vw_loading">
                                                <md-list-item class="md-3-line" ng-repeat="w in profileAdminCtrl.blocked_workers" ng-click="profileAdminCtrl.setActiveW(w)">
                                                    <img ng-src="data:image/png;base64,{{w.image}}" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>{{ w.user.prenom }}</h3>
                                                        <h4>{{ w.user.mail }}</h4>
                                                        <p>{{ w.nationalite }}</p>
                                                    </div>
                                                    <div class="md-list-item-text center-align" layout="row" layout-align="end center">
                                                        <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.authorizeWorker(w.id);" layout="row" layout-align="center center">
                                                            <i class="material-icons">
                                                                done
                                                            </i>
                                                        </md-button>
                                                        <md-button class="md-fab md-mini red" aria-label="Eat cake" ng-click="profileAdminCtrl.deleteWorker(w.user.mail);" layout="row" layout-align="center center">
                                                            <i class="material-icons">
                                                                delete
                                                            </i>
                                                        </md-button>
                                                    </div>
                                                </md-list-item>
                                            </md-list>

                                            <md-progress-circular ng-if="profileAdminCtrl.vw_loading" md-mode="indeterminate"></md-progress-circular>
                                        </div>
                                    </md-content>
                                </md-tab>

                            </md-tabs>

                        </md-card-content>
                    </md-card>
                </div>

                <div flex="50" class="full-height" layout="row">
                    <md-card layout="column" class="full-width">
                        <md-card-content flex="100">
                            <md-progress-linear ng-if="profileAdminCtrl.general_loading_products" md-mode="indeterminate"></md-progress-linear>
                            <md-tabs class="md-primary full-height" md-center-tabs>

                                <md-tab label="Détails de l'artisan" layout="column">

                                    <div layout="row" ng-show="profileAdminCtrl.active_v_worker" class="active-user-details">

                                        <div flex="33" layout="row" layout-align="center center">
                                            <img src="data:image/png;base64, {{ profileAdminCtrl.active_v_worker.image }}" class="active-user">
                                        </div>

                                        <div flex="66" layout="column">

                                            <h2>{{ profileAdminCtrl.active_v_worker.user.prenom }}</h2>
                                            <h3 layout="row" layout-align="start center">
                                                <i class="material-icons">
                                                    mail_outline
                                                </i>
                                                <a href="mailto:{{ profileAdminCtrl.active_v_worker.user.mail }}">{{ profileAdminCtrl.active_v_worker.user.mail }}</a>
                                            </h3>
                                            <h3 layout="row" layout-align="start center">
                                                <i class="material-icons">
                                                    call
                                                </i>
                                                {{ profileAdminCtrl.active_v_worker.telephone }}
                                            </h3>
                                            <h3 layout="row" layout-align="start center">
                                                <i class="material-icons">
                                                    my_location
                                                </i>
                                                {{ profileAdminCtrl.active_v_worker.emplacement.pays }}
                                            </h3>

                                        </div>

                                    </div>

                                    <div id="map-container" layout="row" layout-align="center center" ng-show="profileAdminCtrl.active_v_worker"></div>

                                </md-tab>

                                <md-tab ng-disabled="profileAdminCtrl.active_tab == 0" label="Produits" layout="row" layout-align="center center">

                                    <md-progress-circular ng-if="profileAdminCtrl.active_products_loading" md-mode="indeterminate"></md-progress-circular>

                                    <md-list flex ng-if="!profileAdminCtrl.active_products_loading">
                                        <h5>Produits actifs</h5>
                                        <md-list-item class="md-3-line" ng-repeat="p in profileAdminCtrl.active_products.products track by $index" ng-click="null">
                                            <img ng-src="data:image/png;base64,{{p.image}}" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{ p.nom }}</h3>
                                                <h4>{{ p.description }}</h4>
                                                <p>{{ p.prixTTC | currency:'€' }}</p>
                                            </div>

                                            <div class="md-list-item-text center-align" layout="row" layout-align="end center">
                                                <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.blockProducts(p.reference, $index, p.artisan.id);" layout="row" layout-align="center center">
                                                    <i class="material-icons">
                                                        block
                                                    </i>
                                                </md-button>
                                            </div>
                                        </md-list-item>
                                        <h5>Produits bloqués</h5>
                                        <md-list-item class="md-3-line" ng-repeat="p_blocked in profileAdminCtrl.active_products.blocked track by p.id" ng-click="null">
                                            <img ng-src="data:image/png;base64,{{p_blocked.image}}" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{ p_blocked.nom }}</h3>
                                                <h4>{{ p_blocked.description }}</h4>
                                                <p>{{ p_blocked.prixTTC | currency:'€' }}</p>
                                            </div>

                                            <div class="md-list-item-text center-align" layout="row" layout-align="end center">
                                                <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.editProduct(p_blocked);" layout="row" layout-align="center center">
                                                    <i class="material-icons">
                                                        edit
                                                    </i>
                                                </md-button>
                                                <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="profileAdminCtrl.validateProduct(p_blocked.reference, $index, p_blocked.artisan.id);" layout="row" layout-align="center center">
                                                    <i class="material-icons">
                                                        done
                                                    </i>
                                                </md-button>
                                                <md-button class="md-fab md-mini red" aria-label="Eat cake" ng-click="profileAdminCtrl.deleteProduct(p_blocked.reference, $index, p_blocked.artisan.id);" layout="row" layout-align="center center">
                                                    <i class="material-icons">
                                                        delete
                                                    </i>
                                                </md-button>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </md-tab>
                            </md-tabs>

                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-tab>

        <md-tab label="Reporting">

            <div class="full-width full-height" layout="row" layout-align="center center">

                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Générer Rapport</span>
                            <span class="md-subhead">Cette page permet de générer un rapport des réponses aux questions lorsqu'un user s'inscrit.</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-input-container>
                                <label>Adresse email du user (optionnel)</label>
                                <input type="email" ng-model="profileAdminCtrl.reportInfo.email">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-datepicker ng-model="profileAdminCtrl.reportInfo.date" md-placeholder="Entrer une date" md-open-on-focus></md-datepicker>
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-input-container>
                                <label>Nom du fichier</label>
                                <input type="text" ng-model="profileAdminCtrl.reportInfo.fileName">
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-progress-circular ng-if="profileAdminCtrl.fileGenerating" md-mode="indeterminate"></md-progress-circular>
                        <md-button ng-if="!profileAdminCtrl.fileGenerating" ng-click="profileAdminCtrl.generateExcel(profileAdminCtrl.reportInfo)">Générer</md-button>
                    </md-card-actions>
                </md-card>

            </div>

        </md-tab>

        <md-tab label="Questions" layout="row" layout-align="center center" class="full-height full-width">
            <div class="full-height full-width" layout="row" layout-align="center center">
                <div flex="15" layout="row" layout-align="center start">

                    <md-button class="md-fab" aria-label="Eat cake" layout="row" layout-align="center center" ng-click="profileAdminCtrl.createQuestion()">
                        <i class="material-icons">
                            edit
                        </i>
                    </md-button>

                </div>
                <md-card flex="70" layout="row" layout-align="center center">
                    <md-list class="full-width" flex="70" layout="column" layout-align="center center">
                        <md-list-item class="md-3-line full-width" ng-repeat="quest in profileAdminCtrl.questions" layout="row" layout-align="center center"><!--ng-click="profileAdminCtrl.createQuestion()"-->
                            <div flex="80" class="md-list-item-text quest-text" layout="column">
                                <h3>{{ quest.question }}</h3>
                            </div>
                            <div flex="20" layout="row" layout-align="center center" class="quest-button" ng-show="!quest.active">
                                <md-button class="md-fab md-mini" aria-label="Eat cake" layout="row" layout-align="center center" ng-click="profileAdminCtrl.activateQuestion(quest.id)">
                                    <i class="material-icons">
                                        done
                                    </i>
                                </md-button>
                            </div>
                            <div flex="20" layout="row" layout-align="center center" class="quest-button" ng-show="quest.active">
                                <md-button class="md-fab md-mini" aria-label="Eat cake" layout="row" layout-align="center center" ng-click="profileAdminCtrl.deactivateQuestion(quest.id)">
                                    <i class="material-icons">
                                        close
                                    </i>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
                <div flex="15"></div>
            </div>
        </md-tab>

    </md-tabs>

</div>