<div layout="row" layout-align="center center" class="full-height" layout-wrap>
    <div flex="100" flex-gt-xs="33" layout="row" layout-align="center center" class="header-order">
        <h1 hide-xs hide-sm hide-md>Votre commande</h1>
        <h2 hide-gt-md>Votre commande</h2>
    </div>
    <md-content flex-gt-xs="33" flex="50" layout-padding>
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Informations de livraison</span>
                </md-card-title-text>
            </md-card-title>
            <form name="projectForm">

                <md-input-container class="md-block">
                    <label>Nom et Prénom</label>
                    <input required md-no-asterisk name="name" ng-model="orderCtrl.delivery.adresseLivraison.identification">
                    <div ng-messages="orderCtrl.delivery.adresseLivraison.identification.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Adresse</label>
                    <input required md-no-asterisk name="address" ng-model="orderCtrl.delivery.adresseLivraison.numeroEtLibelleVoie">
                    <div ng-messages="orderCtrl.delivery.adresseLivraison.numeroEtLibelleVoie.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-wrap>
                    <md-input-container flex="100" flex-gt-sm="50">
                        <label>Code postal</label>
                        <input required type="number" name="post_code" ng-model="orderCtrl.delivery.adresseLivraison.codePostal">
                        <div ng-messages="orderCtrl.delivery.adresseLivraison.codePostal.$error">
                            <div ng-message="required">Ce champ est requis</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-sm="50">
                        <label>Ville</label>
                        <input required name="city" ng-model="orderCtrl.delivery.adresseLivraison.ville">
                        <div ng-messages="orderCtrl.delivery.adresseLivraison.ville.$error">
                            <div ng-message="required">Ce champ est requis</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <!--<label>Pays</label>
                    <input required type="text" name="country" ng-model="orderCtrl.delivery.adresseLivraison.pays">-->

                    <label>Pays</label>
                    <md-select ng-model="orderCtrl.delivery.adresseLivraison.pays"
                               md-on-close="clearSearchTerm()"
                               data-md-container-class="selectHeader">
                        <md-select-header class="country-select-header">
                            <input ng-model="searchTerm"
                                   type="search"
                                   id="searchCountry"
                                   placeholder="Chercher un pays..."
                                   class="country-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="countries">
                            <md-option ng-value="country" ng-repeat="country in orderCtrl.countries |
              filter:searchTerm">{{country}}</md-option>
                        </md-optgroup>
                    </md-select>


                    <div ng-messages="orderCtrl.delivery.adresseLivraison.pays.$error">
                        <div ng-message="required">Ce champ est requis</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-align="center center" layout-wrap>

                    <div flex="100" flex-gt-sm="80">
                        <md-input-container class="full-width">
                            <label>Bon d'achat</label>
                            <md-select ng-model="orderCtrl.selectedReduction">
                                <md-option ng-repeat="reduc in orderCtrl.user.bonAchats" ng-value="reduc">
                                    {{ reduc.code }} -- {{ reduc.valeur }} €
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="100" flex-gt-sm="20" layout="row" layout-align="center center">
                        <md-button ng-click="orderCtrl.addReduc(orderCtrl.selectedReduction)" class="md-fab md-primary add-coupon" aria-label="Ajouter un bon de réduction" layout="row" layout-align="center center">
                            <i class="material-icons">
                                add
                            </i>
                        </md-button>
                    </div>

                </div>


                <div layout="row" layout-align="center center">
                    <md-button class="pay-btn" ng-if="!orderCtrl.loading" ng-click="orderCtrl.order(orderCtrl.delivery);" type="submit">Passer au paiement</md-button>
                    <md-progress-circular ng-if="orderCtrl.loading" md-mode="indeterminate"></md-progress-circular>
                </div>
            </form>
        </md-card>
    </md-content>
    <div flex-gt-xs="33" flex="50" layout="row" layout-align="center center" layout-wrap>
        <div flex="15" hide-gt-xs></div>
        <md-card flex="100" flex-gt-xs="70">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Récapitulatif</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center" layout-wrap>
                <div flex="50" flex-gt-xs="80" layout="row" layout-align="center center">
                    Prix :
                </div>
                <div flex="50" flex-gt-xs="20" layout="row" layout-align="end center">
                    {{ orderCtrl.user.panier.prixTTCTotal }} €
                </div>
            </md-card-content>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bons de réduction</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column" layout-align="center center">
                <div flex layout="row" class="full-width" ng-repeat="reduc in orderCtrl.reducAdded" layout-wrap>
                    <div flex="20" flex-gt-xs="20">
                        <md-button ng-click="orderCtrl.deleteReduc(reduc, $index)" class="md-fab md-primary delete-coupon-btn" aria-label="Supprimer Bon de réduction" layout="row" layout-align="center center">
                            <i class="material-icons">close</i>
                        </md-button>
                    </div>
                    <div md-truncate flex="60" layout="row" layout-align="center center">
                        {{ reduc.code }}
                    </div>
                    <div flex="20" flex-gt-xs="20" layout="row" layout-align="center center" layout-align-gt-xs="end center">
                        - {{ reduc.valeur }} €
                    </div>
                </div>
            </md-card-content>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Total</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="row" layout-align="center center">
                <div flex></div>
                <div flex="50" flex-gt-xs="20" layout="row" layout-align="end center">
                    {{ orderCtrl.calculateTotal() | number:2}} €
                </div>
            </md-card-content>

        </md-card>
        <div flex="15" hide-gt-xs></div>
    </div>
</div>