.selectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectHeader' class */ }
.selectHeader .country-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectHeader .country-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectHeader md-content._md {
    max-height: 240px; }



@media screen and (max-width: 768px) and (min-width: 320px) {
    .header-order {
        padding-top: 70px;
    }

    .add-coupon, .delete-coupon-btn {
        width: 36px !important;
        height: 36px !important;
    }

    .pay-btn {
        font-size: small !important;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
    .add-coupon, .delete-coupon-btn {
        width: 36px !important;
        height: 36px !important;
    }

    .pay-btn {
        font-size: small !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .add-coupon, .delete-coupon-btn {
        width: 36px !important;
        height: 36px !important;
    }

    .pay-btn {
        font-size: small !important;
    }
}
