<div layout="row">
    <div flex="100" class="whoweare-header-container center-align" layout-wrap>
        <h1>
            Yateli
        </h1>
    </div>
</div>
<div layout="row">

    <div layout="row" layout-align="center center" flex-gt-md="50" flex="100">
        <p class="story-container">
            Yateli est une initiative étudiante visant à proposer des produits atypiques du monde entier.
            Notre mot d’ordre? <b>Encourager l’artisanat international</b> et donner la possibilité aux consommateurs de retrouver confiance dans les produits, de leur fabrication jusqu’à leur utilisation au quotidien.
        </p>
    </div>

    <div layout="row" layout-align="center center" flex-gt-md="50" flex="100">
        <p class="story-container">
            Grâce à nos multiples partenariats autour du monde, des centaines d’articles sont à votre disposition et attendent seulement à être adoptés.
            Nos artisans tiennent à ce que leurs créations soient <b>respectueuses de l’environnement</b> et contribuent au développement durable.
        </p>
    </div>

</div>

<div layout="row" layout-align="center center">
    <div layout="row" layout-align="center center" flex="100">
        <p class="story-container center-align">
            Chez Yateli, nous sommes conscients que le monde est une chance et un bien précieux à entretenir. Nous voulons ainsi rompre avec la commercialisation de masse et le désintérêt porté à
            la production <b>éco-responsable</b>.
            Par l’innovation et l’intelligence de nos artisans, redonnons le sourire à notre planète et entrons en possession de biens et d’accessoires nouveaux.
        </p>
    </div>
</div>

<div layout="row" layout-align="center center">
    <div layout="row" layout-align="center center" class="center-align" flex="100">
        <h2>
            <b>Forgeons ensemble l’économie participative et environnementale de demain.</b>
        </h2>
    </div>
</div>


<div layout="row" layout-align="center center">
    <div layout="row" layout-align="center center" class="center-align" flex="100">
        <h1>
            <b>Yateli, Prenez part à l’écoculture !</b>
        </h1>
    </div>
</div>