/* font */
body {
    font-family: 'Oxygen', sans-serif;
    color: #3D5350;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bold {
    font-weight: bold !important;
}

.gray {
    background: #f5f5f5; }

.green {
    background: #b9f6ca; }

.yellow {
    background: #ffff8d; }

.blue {
    background: #84ffff; }

.purple {
    background: #b388ff; }

.red {
    background: #ff8a80 !important; }

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-30 {
    margin: 10px 0 40px 0;
}

.text-green {
    color: #8BC34A !important;
}

.text-white {
    color: white !important;
}

.bg-green {
    background-color: #8BC34A !important;
}

.bg-red {
    background-color: #a63d40 !important;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center-align {
    text-align: center;
}

/* navbar */

yateli-navbar {
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar.big {
    display: flex;
}

.navbar.small {
    display: none;
}

.cart-btn {
    width: 100% !important;
    min-width: 50px !important;
}

yateli-navbar.opac {
    /*background-color: #8BC34A;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
}

.main-container.main-padding {
    padding-top: 110px;
}

.main-container.connection-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    font-weight: 700;
    padding: 30px;
    color: white;
    font-size: 1.2em;
    width: 100%;
}

.nav-button {
    letter-spacing: 3px !important;
}


.logo {
    height: 50px;
    margin-left: 50px;
}

.welcome-name-container {
    height: 100%;
}

.cart-count {
    position: absolute;
    left: 60%;
    top: 40%;
    z-index: 1 !important;
}

.navbar .md-button.md-icon-button {
    width: auto;
    height: 100%;
}

h1 {
    font-weight: 700;
    line-height: 30%;
    font-size: 3em;
    letter-spacing: 10px;
}

.daily-sentence {
    letter-spacing: 5px;
}

.mainpage-button {
    padding: 10px;
    font-weight: 400;
    background-image:none !important;
    color: white;
    width: 100%;
    border-radius: 5px;
}

#bg-image {
    /* The image used */
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    /* Full height */
    height: 100%;
    z-index: 1000;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-weight: 100;
    line-height: 40%;
}

/* main */

.md-button.md-fab.md-mini {
    line-height: 0 !important;
}

.main-container {
    width: 100%;
    height: 100%;
}

.header {
    font-weight: bold;
}

/* Error */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.modal {
    width: 100px;
    height: 50px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}


.large-icon {
    font-size: 100px;
}

.newProductName{
    font-weight: bold;
}

.user-container{
    margin-right: 50px;
}

.notif-date-container {
    min-width: 15%;
    font-size: smaller;
}

.notif-content-container {
    min-width: 65%;
}

.notif-button-container md-button{
    padding: 0 !important;
    margin: 0 !important;
}
.notif-button-container {
    min-width: 40px;
}


@media screen and (max-width: 768px) and (min-width: 320px) {
    .navbar.small {
        display:flex;
    }

    .navbar.big {
        display: none;
    }

    .main-container.main-padding {
        padding-top: 106px;
    }

}