<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="yateliApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="yateliApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="yateliApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="yateliApp" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yateli</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="node_modules/html5-boilerplate/dist/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <script src="node_modules/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="static/css/sweetalert.css">
    <link rel="stylesheet" href="static/css/toaster.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="node_modules/angular-material-badge/angular-material-badge.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.46.0/angular-mapboxgl-directive.min.css" rel="stylesheet" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <link href="node_modules/leaflet/dist/leaflet.css">
     <script src="node_modules/leaflet/dist/leaflet.js"></script>
     <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
     <script src="node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
     <link rel="stylesheet" href="//unpkg.com/leaflet@0.7.7/dist/leaflet.css">-->


</head>
<body ng-controller="ctrl as ctrl" ng-cloak>

<yateli-navbar ng-class="{ 'opac': !ctrl.home_page && !ctrl.connection_page}" user="ctrl.connectedUser" sentence="ctrl.sentence"></yateli-navbar>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="main-container" ng-class="{'main-padding': !ctrl.home_page, 'connection-bg': ctrl.connection_page || ctrl.password || ctrl.activate_account}" ng-view></div>


<!--
<div>Angular seed app: v<span app-version></span></div>
-->

<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-whiteframe="4">

    <md-toolbar class="md-theme-indigo"
                md-swipe-left="onSwipeLeft($event, $target)" layout="row" layout-align="center center">
        <div flex="33" layout="row" layout-align="center center">
            <a ng-click="ctrl.sidenavOpened = false;" href="/"><img src="static/img/logo.jpeg" class="logo"></a>
        </div>
        <div flex="66" layout="row" layout-align="center center">
            <h1 class="md-toolbar-tools">Yateli</h1>
        </div>


    </md-toolbar>

    <md-content layout-margin md-swipe-left="onSwipeLeft($event, $target)">

        <div layout="column" layout-align="center space-between">

            <div flex="30" layout="column" layout-align="center center">

                <div class="full-width" flex layout="row" layout-align="center center">
                    <div flex="30" layout="row" layout-align="start center">
                        <i class="material-icons">
                            account_circle
                        </i>
                    </div>
                    <div flex="70" layout="row" layout-align="start center">
                        <md-button ng-click="ctrl.sidenavOpened = false;" href="/#!/profile" layout="row" layout-align="center center" class="full-width center-align">
                            <span>Profil</span>
                        </md-button>
                    </div>
                </div>

                <div class="full-width" flex layout="row" layout-align="center center">
                    <div flex="30" layout="row" layout-align="start center">
                        <i class="material-icons">
                            shopping_basket
                        </i>
                    </div>
                    <div flex="70" layout="row" layout-align="start center">
                        <md-button ng-click="ctrl.sidenavOpened = false;" href="/#!/products" class="full-width center-align" layout="row" layout-align="center center">
                            <span>Voir tous les produits</span>
                        </md-button>
                    </div>
                </div>

                <div class="full-width" flex layout="row" layout-align="center center">
                    <div flex="30" layout="row" layout-align="start center">
                        <i class="material-icons">
                            exit_to_app
                        </i>
                    </div>
                    <div flex="70" layout="row"  layout-align="start center">
                        <md-button ng-click="disconnectUser()" href="" class="full-width center-align" layout="row" layout-align="center center">
                            <span>Se déconnecter</span>
                        </md-button>
                    </div>
                </div>

            </div>



        </div>

    </md-content>

</md-sidenav>


<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.46.0/angular-mapboxgl-directive.min.js"></script>

<script src="node_modules/angular-route/angular-route.js"></script>

<script src="static/js/angular-file-upload-shim.js"></script>
<script src="static/js/angular-file-upload.js"></script>
<script src="static/js/ng-file-upload.js"></script>
<script src="static/js/ng-file-upload-shim.js"></script>

<script src="node_modules/ng-stomp/dist/ng-stomp.standalone.min.js"></script>

<script src="node_modules/angular-cookies/angular-cookies.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<script src="static/js/sweetalert.min.js"></script>
<script src="static/js/toaster.js"></script>

<script src="node_modules/ng-sweet-alert/ng-sweet-alert.js"></script>

<script src="node_modules/angular-material-badge/angular-material-badge.min.js"></script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-mapboxgl-directive/0.46.0/angular-mapboxgl-directive.min.js"></script>

<!-- Angular Material Library -->

<script src="app.js"></script>

<script src="views/map/map.js"></script>
<script src="views/connection/connection.js"></script>
<script src="views/password-forgot/password-forgot.js"></script>
<script src="views/products/products.js"></script>
<script src="views/cart/cart.js"></script>
<script src="views/order/order.js"></script>
<script src="views/profile/profile.js"></script>
<script src="views/profileWorker/profile_worker.js"></script>
<script src="views/profileAdmin/profile_admin.js"></script>
<script src="views/paid/paid.js"></script>
<script src="views/whoweare/whoweare.js"></script>
<script src="views/subscribe/subscribe.js"></script>
<script src="views/activate-account/activate-account.js"></script>
<script src="views/product/product.js"></script>

<script src="service/userService.js"></script>
<script src="service/apiService.js"></script>
<script src="service/cartService.js"></script>
<script src="service/dailySentence.js"></script>
<script src="service/invoiceService.js"></script>
<script src="service/mysteryBoxService.js"></script>
<script src="service/orderService.js"></script>
<script src="service/paymentService.js"></script>
<script src="service/workerService.js"></script>
<script src="service/productService.js"></script>
<script src="service/statistiquesService.js"></script>
<script src="service/interrogationService.js"></script>
<script src="service/jeuConcoursService.js"></script>
<script src="service/countryService.js"></script>
<script src="service/tagService.js"></script>
<script src="service/toasterService.js"></script>
<script src="service/notificationBoxService.js"></script>
<script src="service/webSocketService.js"></script>

<script src="components/navbar/navbar.js"></script>

</body>
</html>
