.login-error-message {
    color: red;
}

.activate-card {
    width: 75%;
    height: 75%;
}

.password-forgotten-card {
    height: 100%;
}

.activate-card md-card-content {
    height: 75%;
}

.activate-card md-card-content div {
    height: 100%;
}