<div layout="row" class="activate-account-container full-height" ng-controller="activateAccountCtrl as activateAccountCtrl" layout-wrap>

    <div flex="0" flex-gt-md="33"></div>

    <div flex="100" flex-gt-md="33" layout="row">

        <div flex="100" flex-gt-md="100" layout="row" layout-align="center center">

            <md-card class="activate-card">
                <md-card-title layout="column" layout-align="center center">
                    <i class="material-icons large-icon text-green">account_circle</i>
                    <h2 hide-xs hide-sm>Activation du compte</h2>
                    <h3 hide-gt-sm>Activation du compte</h3>
                </md-card-title>

                <md-card-content layout="column" layout-align="center center">

                    <div flex="50" layout="column" layout-align="center end">
                        <div flex>
                            <span>Votre login : </span>
                            <span ng-if="activateAccountCtrl.login" style="font-weight: bold;">{{ activateAccountCtrl.login }}</span>
                        </div>
                        <div class="full-width margin-top-30" flex layout="row" layout-align="center center">
                            <md-input-container>
                                <label>Mot de passe</label>
                                <input ng-model="password" type="password">
                            </md-input-container>
                        </div>
                    </div>
                    <span ng-if="activateAccountCtrl.erreur" class="login-error-message"> {{ activateAccountCtrl.erreur }}</span>

                    <div class="margin-top-30" layout="row" layout-align="center center">
                        <md-button ng-if="!activateAccountCtrl.activating" class=" md-raised md-primary text-white" ng-if="!activateAccountCtrl.activating" ng-click="activateAccountCtrl.activate()">Activer</md-button>
                        <md-progress-circular ng-if="activateAccountCtrl.activating" md-mode="indeterminate"></md-progress-circular>
                    </div>

                </md-card-content>
            </md-card>


        </div>

    </div>

    <div flex="0" flex-gt-md="33"></div>

</div>