<md-dialog aria-label="Déconnexion">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Déconnexion forcée</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{ message }}</h2><br/>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="logout()">
                D'accord
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
