<div layout="row" layout-align="center center" ng-controller="productCtrl as productCtrl" class="full-height">

    <div flex="33" layout="row" layout-align="center center" class="img-container full-height">

        <img ng-if="!productCtrl.image_loading" src="data:image/png;base64, {{ productCtrl.product.image }}">

        <md-progress-circular ng-show="productCtrl.image_loading" md-mode="indeterminate"></md-progress-circular>

    </div>

    <div flex="33" layout="column" class="full-height">

        <div flex layout="column" class="full-height product-text-container">
            <h1>{{ productCtrl.product.nom }}</h1>
            <h2>{{ productCtrl.product.description }}</h2>
            <h3>{{ productCtrl.product.prixTTC | currency : "€" }} TTC</h3>
        </div>

        <div flex="33" layout="column" class="full-height worker-container">
            <h4>Réalisé par : </h4>
            <div flex layout="row">
                <div flex="50" layout="row" layout-align="center center">
                    <img ng-if="productCtrl.product.artisan.image" src="data:image/png;base64, {{ productCtrl.product.artisan.image }}" class="picture-worker">

                    <md-progress-circular ng-show="!productCtrl.product.artisan.image" md-mode="indeterminate"></md-progress-circular>
                </div>

                <div flex="50" layout="column" layout-align="center start">
                    <h3> {{ productCtrl.product.artisan.user.prenom }} </h3>
                    <md-fab-speed-dial md-direction="right" md-open="productCtrl.contact_menu_open"
                                       class="md-fling">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn" layout="row" layout-align="center center">
                                <i class="material-icons">
                                    person
                                </i>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                            <md-button aria-label="Phone" class="md-fab md-raised md-mini" layout="row" layout-align="center center" ng-click="productCtrl.openPhonePopup(productCtrl.product.artisan.telephone)">
                                <md-tooltip md-direction="top">Téléphone</md-tooltip>
                                <i class="material-icons">
                                    local_phone
                                </i>
                            </md-button>
                            <md-button aria-label="Mail" class="md-fab md-raised md-mini" layout="row" layout-align="center center" href="mailto:{{ productCtrl.product.artisan.user.mail }}">
                                <md-tooltip md-direction="top">Email</md-tooltip>
                                <i class="material-icons">
                                    email
                                </i>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </div>

        <div flex="33" layout="column" layout-align="center center">
            <h3>Autres produits de {{ productCtrl.product.artisan.user.prenom }}</h3>
            <div class="full-width other-products-container" layout="row" layout-align="start center">
                <div flex="33" layout="column" layout-align="center center" ng-repeat="product in productCtrl.other_products track by $index" class="other-product">
                    <a class="link-other-product" ng-href="/#!/product?reference={{product.reference}}">
                        <div flex="50" layout="row" layout-align="center center">
                            <img src="data:image/png;base64, {{ product.image }}">
                        </div>
                        <div flex="50" layout="column" layout-align="center center">
                            <h4>{{ product.nom }}</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div flex="33" class="full-height pay-card-container" layout="row" layout-align="center center">
        <md-card layout="column">
            <md-card-title flex="10">
                <md-card-title-text>
                    <span class="md-headline">{{ productCtrl.product.prixTTC | currency : "€" }} TTC</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex="90" layout="column" layout-align="center center">

                <div>
                    <h3 ng-if="productCtrl.product.quantiteStock > 4">
                        En stock.
                    </h3>

                    <h3 ng-if="productCtrl.product.quantiteStock < 4">
                        Attention, plus que {{ productCtrl.product.quantiteStock }} en stock !
                    </h3>
                </div>

                <div>
                    <md-input-container>
                        <label>Quantité</label>
                        <md-select ng-model="quantity">
                            <md-option value="none"><em>Sélectionner</em></md-option>
                            <md-option ng-repeat="st in productCtrl.qty_possible" ng-value="st">
                                {{ st }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div>
                    <md-button ng-if="!productCtrl.adding_to_cart" md-no-ink class="md-raised md-primary" ng-click="productCtrl.addToCart(productCtrl.product.reference, quantity)" ng-disabled="productCtrl.disableAddProduct(quantity)">Ajouter au panier</md-button>
                    <md-progress-circular ng-if="productCtrl.adding_to_cart" md-mode="indeterminate"></md-progress-circular>
                </div>

            </md-card-content>
        </md-card>
    </div>

</div>