.img-container img {
    width: 80%;
}

.product-text-container {
    padding-top: 100px;
}

.pay-card-container md-card {
    width: 50%;
    height: 75%;
}

.picture-worker {
    width: 150px;
    border-radius: 50%;
}

.other-product div img {
    width: 75px;
}

.other-product {
    margin: 0 5px;
    min-width: 33%;
}

.other-products-container {
    overflow-x: scroll;
}

.other-products-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.other-products-container::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.other-products-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.link-other-product{
    color: unset !important;
    text-decoration: unset !important;
}
