
<div layout="row" layout-align="center center" class="full-height">

    <md-progress-circular ng-if="paidCtrl.loading" md-mode="indeterminate"></md-progress-circular>

    <div layout="column" layout-align="center center" ng-if="!paidCtrl.loading">
        <h1 hide-xs>Merci de votre commande ! </h1>
        <h2 hide-gt-xs>Merci de votre commande ! </h2>

        <h2 hide-xs>Votre commande n°{{ paidCtrl.order_return.idCommande }} est lancée !</h2>
        <h3 hide-gt-xs>Votre commande n°{{ paidCtrl.order_return.idCommande }} est lancée !</h3>

        <h2 hide-xs class="center-align">Un récapitulatif vous a été envoyé par mail avec la facture à l'adresse {{ paidCtrl.order_return.userLogin }}. Vous pouvez aussi le retrouver dans votre espace personnel.</h2>
        <h3 hide-gt-xs class="center-align">Un récapitulatif vous a été envoyé par mail avec la facture à l'adresse {{ paidCtrl.order_return.userLogin }}. Vous pouvez aussi le retrouver dans votre espace personnel.</h3>

        <h3 hide-xs>À bientôt sur <a href="/#!/map">Yateli</a> !</h3>
        <h4 hide-gt-xs>À bientôt sur <a href="/#!/map">Yateli</a> !</h4>
    </div>

</div>
