<div layout-align="center center" class="navbar big" layout="row" hide-sm hide-xs>

    <div layout="row" layout-align="start" flex="20" class="logo-container">
        <a href="/" >
            <img src="./../../static/img/logo.jpeg" class="logo">
        </a>
    </div>

    <div layout="row" layout-align="center" flex="60" class="daily-sentence">
        {{ navbarCtrl.sentence }}
    </div>


    <div ng-if="!navbarCtrl.user" layout="row" layout-align="end" flex="20" class="user-container">
        <!--<md-button class="nav-button" href="/#!/connection" class="">Panier</md-button>-->
        <md-button class="nav-button" href="/#!/connection" class="">Connexion</md-button>
        <!--<md-button ng-click="navbarCtrl.ctrl.fakeConnect()" class="">Connexion</md-button>-->
    </div>

    <div ng-if="navbarCtrl.user" layout="row" layout-align="end" flex="20" class="user-container" layout-wrap>

        <div flex layout="row" layout-align="center center">
            <p>Bienvenue {{ navbarCtrl.user.prenom }} !</p>
        </div>

        <div flex="45" layout="row" layout-align="center center" hide-xs hide-sm hide-md>

            <div flex="35" layout="row" layout-align="center center">
                <!--<md-button href="" aria-label="" ng-if="navbarCtrl.user" class="md-icon-button notifications-btn" layout="row" layout-align="center center">
                    <i class="material-icons">
                        notifications
                    </i>
                    <md-badge class="cart-count">{{ navbarCtrl.notifications.length || 0 }}</md-badge>
                </md-button>-->

                <md-menu md-offset="0 -5" ng-if="navbarCtrl.user">
                    <md-button aria-label="Open demo menu" class="md-icon-button notifications-btn" ng-click="$mdMenu.open($event)" layout="row" layout-align="center center">
                        <i class="material-icons">
                            notifications
                        </i>
                        <md-badge class="cart-count">{{ navbarCtrl.notifications_unseen || 0 }}</md-badge>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="notif in navbarCtrl.notifications | orderBy:'-notif.timestamp_creation'">
                            <md-button ng-class="{'bold': notif.vu == false}" layout="row" layout-align="center center" md-prevent-menu-close="md-prevent-menu-close">
                                <p md-truncate flex="15" class="notif-date-container">
                                    {{ navbarCtrl.getDate(notif) }}
                                </p>
                                <p md-truncate flex="65" class="notif-content-container">
                                    {{ notif.type }} : {{ notif.message }}
                                </p>

                                <p md-truncate flex="10" class="notif-button-container" layout="row" layout-align="center center" ng-show="!notif.vu">
                                    <md-button ng-click="navbarCtrl.viewNotif(notif.id)" class="md-icon-button" aria-label="More" md-prevent-menu-close="md-prevent-menu-close">
                                        <i class="material-icons">
                                            done
                                        </i>
                                    </md-button>
                                </p>
                                <p md-truncate flex="10" class="notif-button-container" layout="row" layout-align="center center">
                                    <md-button ng-click="navbarCtrl.deleteNotif(notif.id)" class="md-icon-button" aria-label="More" md-prevent-menu-close="md-prevent-menu-close">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </md-button>
                                </p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>

            <div flex="33" layout="row" layout-align="center center" ng-if="navbarCtrl.showCart">
                <md-button href="/#!/cart" aria-label="" ng-if="navbarCtrl.user" class="md-icon-button cart-btn" layout="row" layout-align="center center">
                    <i class="material-icons">
                        shopping_cart
                    </i>
                    <md-badge class="cart-count">{{ navbarCtrl.qte || 0 }}</md-badge>
                </md-button>
            </div>


            <div flex="33" layout="row" layout-align="center center">

                <md-button aria-label="Open demo menu" layout="row" layout-align="center center" href="/#!/{{ navbarCtrl.correctProfile }}" class="md-icon-button">
                    <i class="material-icons">
                        account_circle
                    </i>
                </md-button>

            </div>

            <div flex="33" layout="row" layout-align="center center">

                <md-button aria-label="Open demo menu" ng-click="navbarCtrl.disconnectUser()" layout="row" layout-align="center center" href="" class="md-icon-button">
                    <i class="material-icons">
                        exit_to_app
                    </i>
                </md-button>

            </div>
        </div>

        <div flex="45" hide-gt-md>
            <md-menu>
                <md-button aria-label="Menu pour les écrans moyen" class="md-icon-button" ng-mouseenter="$mdMenu.open()" layout="row" layout-align="center center">
                    <i class="material-icons">
                        arrow_drop_down
                    </i>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">

                    <md-menu-item layout="row" layout-align="center center">

                        <div flex="20">
                            <i class="material-icons">
                                notifications
                            </i>
                            <md-badge class="cart-count">{{ navbarCtrl.qte || 0 }}</md-badge>
                        </div>

                        <div flex="20">
                            <i class="material-icons">
                                shopping_cart
                            </i>
                            <md-badge class="cart-count">{{ navbarCtrl.qte || 0 }}</md-badge>
                        </div>

                        <div flex="80" layout="row" layout-align="center center">
                            <md-button href="/#!/cart" ng-click="$mdMenu.close()" aria-label="" class="full-width" layout="row" layout-align="center center">
                                <span class="center-align">Votre panier</span>
                            </md-button>
                        </div>

                    </md-menu-item>

                    <md-menu-item layout="row" layout-align="center center">

                        <div flex="20" class="center-align">
                            <i class="material-icons">
                                account_circle
                            </i>
                        </div>
                        <div flex="80" layout="row" layout-align="center center">
                            <md-button aria-label="Open demo menu" layout="row" layout-align="center center" ng-click="$mdMenu.close()" href="/#!/profile" class="full-width">
                                <span>Votre profil</span>
                            </md-button>
                        </div>

                    </md-menu-item>

                    <md-menu-item layout="row" layout-align="center center">

                        <div flex="20" class="center-align">
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </div>

                        <div flex="80" layout="row" layout-align="center center">
                            <md-button aria-label="Open demo menu" ng-click="navbarCtrl.disconnectUser(); $mdMenu.close();" layout="row" layout-align="center center" href="" class="full-width">
                                <span>Se déconnecter</span>
                            </md-button>
                        </div>

                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </div>
    </div>

</div>


<div layout="row" class="navbar small" hide-lg hide-md>
    <div layout="row" layout-align="start center" flex="33">
        <md-button aria-label="" ng-click="toggleSidenav();" class="md-icon-button cart-btn">
            <i class="material-icons">
                menu
            </i>
        </md-button>
    </div>

    <div layout="row" layout-align="center center" flex="33" class="logo-container">
        <a href="/" >
            <!--<img src="./../../static/img/logo.jpeg" class="logo">-->
        </a>
    </div>

    <div layout="row" layout-align="end center" flex="33" class="logo-container">
        <div ng-if="!navbarCtrl.user" class="full-width">
            <!--<md-button class="nav-button" href="/#!/connection" class="">Panier</md-button>-->
            <md-button class="nav-button" href="/#!/connection" class="">Connexion</md-button>
            <!--<md-button ng-click="navbarCtrl.ctrl.fakeConnect()" class="">Connexion</md-button>-->
        </div>
        <div ng-if="navbarCtrl.user" class="full-width">
            <!--<md-button class="nav-button" href="/#!/connection" class="">Panier</md-button>-->
            <md-button href="/#!/cart" aria-label="" class="md-icon-button cart-btn">
                <i class="material-icons">
                    shopping_cart
                </i>
                <md-badge class="cart-count">{{ navbarCtrl.qte || 0 }}</md-badge>
            </md-button>
            <!--<md-button ng-click="navbarCtrl.ctrl.fakeConnect()" class="">Connexion</md-button>-->
        </div>

    </div>
</div>
