<div layout="row" layout-wrap>

    <div flex="100" flex-gt-sm="33" flex-gt-md="33" ng-if="productsCtrl.productList.length > 0" ng-repeat="item in productsCtrl.productList">

        <md-card ng-click="productsCtrl.redirectProduit(item.reference)">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ item.nom }}</span>
                    <span class="md-subhead">{{ item.description }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="data:image/png;base64,{{ item.imageProduct }}">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <span>{{ item.prixTTC }} € </span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center" class="qty-manager-container">
                <div flex="30" flex-gt-md="55"></div>
                <div flex="50" flex-gt-md="30" layout="row" layout-align="center center">
                    <md-button ng-click="productsCtrl.redirectProduit(item.reference)">Voir produit</md-button>
                </div>

                <!--<div ng-show="item.selectQty" layout="row" layout-align="center center">
                    <div flex="100" layout="row" layout-align="center center" class="">
                        <div flex="25"></div>
                        <div flex="33" layout="row" layout-align="center center">
                            <md-button layout="row" layout-align="center center" ng-click="productsCtrl.addToCart(item, qty); item.selectQty = false;" ng-disabled="selectQty{{$index}}.$invalid" class="md-fab md-primary qty-manager" aria-label="Valider">
                                <i class="material-icons">
                                    check
                                </i>
                            </md-button>
                        </div>
                        <div flex="33">
                            <form name="selectQty{{$index}}">
                                <md-input-container flex="100">
                                    <label>Quantité</label>
                                    <input required ng-model="qty" min="1" type="number" ng-init="qty = 1;">
                                </md-input-container>
                            </form>
                        </div>
                        <div flex="33" layout="row" layout-align="center center">
                            <md-button layout="row" layout-align="center center" ng-click="item.selectQty = false;" class="md-fab md-primary qty-manager" aria-label="Valider">
                                <i class="material-icons">
                                    close
                                </i>
                            </md-button>
                        </div>
                    </div>
                </div>-->
            </md-card-actions>
        </md-card>

    </div>

</div>