.all-products i {
    line-height: 40px;
    color: #000;
}


.qty-manager {
    width: 35px !important;
    height: 35px !important;
}

.qty-manager-container, .qty-manager-container div {
    max-height: 36px;
}


.card-media img {
    max-height: 100%;
}
