
.password-forgotten-card {
    height: 100%;
    width: 80%;
}

.imgUserConnection{
    width: 100px;
    height: 100px;
}

.login-container {
    height: 100%;
}


@media screen and (max-width: 768px) and (min-width: 320px) {

    .password-forgotten-card {
        height: 50% !important;
    }

}


@media screen and (max-width: 1024px) and (min-width: 769px) {

    .password-forgotten-card {
        height: 50% !important;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {

    .password-forgotten-card {
        height: 50% !important;
    }

}