<div layout="row" class="login-container" ng-controller="passwordForgotCtrl as passwordForgotCtrl">

    <div hide-xs hide-sm hide-md flex-gt-md="33"></div>

    <div flex="100" flex-gt-md="33" layout="column" layout-flex="center center">
        <div hide-xs hide-sm hide-md flex="20"></div>

        <div flex="100" flex-gt-md="60" layout="row" layout-align="center center">

            <md-card class="password-forgotten-card">
                <md-card-title layout="row" layout-align="center center">
                    <img class="imgUserConnection" src="./../static/img/user.jpg" alt="User"/>
                </md-card-title>
                <md-card-content layout="column" layout-align="center center">

                    <div flex="50" layout="row" layout-align="center end">
                        <md-input-container flex>
                            <div ng-if="passwordForgotCtrl.reinit && !passwordForgotCtrl.changePassword">
                                <label>Saisissez votre adresse mail</label>
                                <input ng-model="passwordForgotCtrl.login" type="email">
                            </div>
                            <div ng-if="!passwordForgotCtrl.reinit && !passwordForgotCtrl.changePassword">
                                <label>Code de vérification</label>
                                <input ng-model="passwordForgotCtrl.code" type="text">
                            </div>
                            <div ng-if="passwordForgotCtrl.changePassword">
                                <label>Saisissez votre nouveau mot de passe</label>
                                <input ng-model="passwordForgotCtrl.newPassword" type="password">
                            </div>
                        </md-input-container>
                    </div>

                    <div flex="50" ng-if="passwordForgotCtrl.changePassword">
                        <md-input-container flex>
                            <label>Retapez votre mot de passe</label>
                            <input ng-model="passwordForgotCtrl.confirmNewPassword" type="password">
                        </md-input-container>
                    </div>

                </md-card-content>
                <md-card-actions layout="row" layout-align="center center">

                    <md-button class="md-raised md-primary" ng-if="!passwordForgotCtrl.enCours && passwordForgotCtrl.reinit && !passwordForgotCtrl.changePassword" ng-click="passwordForgotCtrl.renewAccount(passwordForgotCtrl.login)">Réinitialiser</md-button>
                    <md-button class="md-raised md-primary" ng-if="!passwordForgotCtrl.enCours && !passwordForgotCtrl.reinit && !passwordForgotCtrl.changePassword" ng-click="passwordForgotCtrl.verifCode(passwordForgotCtrl.code)">Vérifier</md-button>
                    <md-button class="md-raised md-primary" ng-if="passwordForgotCtrl.changePassword" ng-click="passwordForgotCtrl.changePasswordUser(passwordForgotCtrl.newPassword, passwordForgotCtrl.confirmNewPassword)">Changer mon mot de passe</md-button>

                    <md-progress-circular ng-if="passwordForgotCtrl.enCours" md-mode="indeterminate"></md-progress-circular>

                </md-card-actions>
            </md-card>

        </div>

        <div hide-xs hide-sm hide-md flex="20"></div>
    </div>

    <div hide-xs hide-sm hide-md flex="33"></div>

</div>