<md-dialog flex="50" class="create-popup">
    <form ng-cloak class="full-height">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="text-white">Devenir un artisan</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="full-height">
            <md-tabs class="md-primary full-height" md-center-tabs>
                <md-tab label="Image">
                    <md-content class="md-padding full-height">
                        <p class="md-body-1" layout="column" layout-align="center center">
                        <div flex layout="row" layout-align="center center">
                            <img id="img-popup-create" src="">
                        </div>
                        <div flex layout="row" class="full-width" layout-align="center center">
                            <input type="file"
                                   id="picture-chooser-create" name="image"
                                   class="hidden"
                                   accept="image/*">
                            <md-button id="browse-image" class="md-raised md-primary text-white">Parcourir</md-button>
                        </div>
                        </p>
                    </md-content>
                </md-tab>
                <md-tab label="Localisation" class="full-height">
                    <md-content class="md-padding full-height">
                        <div class="md-body-1 full-width" layout="column" layout-align="center center">
                            <div flex="30" layout="row" layout-align="center center" class="full-width">
                                <div flex="25" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Latitude</label>
                                        <input ng-model="modelDemand.latitude" type="number">
                                    </md-input-container>
                                </div>
                                <div flex="25" layout="row" layout-align="center center">
                                    <md-input-container class="full-width">
                                        <label>Longitude</label>
                                        <input ng-model="modelDemand.longitude" type="number">
                                    </md-input-container>
                                </div>
                                <div flex="50" layout="row" layout-align="center center" class="full-width">
                                    <md-input-container>
                                        <label>Nationalité</label>
                                        <md-select ng-model="modelDemand.nationalite"
                                                   md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectdemoSelectHeader">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Chercher un pays"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="Nationalite">
                                                <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                                                    filter:searchTerm">{{vegetable}}</md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div flex layout="row" layout-align="center center">
                <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
                <md-button ng-click="demand(modelDemand)" ng-if="!loading">
                    Faire la demande
                </md-button>
            </div>
            <div flex layout="row" layout-align="center center">
                <md-button ng-click="closeDialog()">
                    Annuler
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
