<md-dialog aria-label="Colis Mystere Decouvert">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Colis Mystere Decouvert</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Votre nouveau colis mystère est un(e) <span class="newProductName">{{ nomProduit }}</span></h2>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="/#!/product/{{ idProduit }}" target="_blank" md-autofocus>
                Voir le détail du produit
            </md-button>
            <span flex></span>
            <md-button ng-click="answer()">
                Merci
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

