<md-dialog aria-label="Participer à des jeux concours">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Participer à des jeux concours</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Vous disposez actuellement de <span class="newProductName">{{ pointsFidelite }}</span> point(s).</h2><br/>
                <span>Cliquez sur le concours auquel vous voulez participer : </span><br/>
                <span ng-repeat="jeu in jeuxConcours">
                    <md-button style="text-align: center; color: white;" class="md-raised md-primary" ng-if="jeu.pointsFideliteMinimum <= pointsFidelite" ng-click="participate(jeu.id)" >
                        {{ jeu.nom }} : {{ jeu.pointsFideliteMinimum }} point(s)
                    </md-button>
                    <md-button style="text-align: center; color: white;" class="md-raised md-primary" ng-if="jeu.pointsFideliteMinimum > pointsFidelite">
                        {{ jeu.nom }} : Pas assez de points (min. {{jeu.pointsFideliteMinimum}}pts)
                    </md-button>
                    <br/>
                </span>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Quitter
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
