.profile-tiles-container {
    padding-top: 15px;
}

.delete-account-btn {
    color: white !important;
    background-color: #f44336 !important;
    width: 50%;
}

.fakeLink {
    color: blue;
    cursor: pointer;
}

.newProductName{
    font-weight: bold;
}

@media screen and (max-width: 320px) {
    .delete-account-btn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .profile-tiles-container {
        padding-top: 0;
    }

    .profile-grid {
        height: 1750px;
    }

    .delete-account-btn {
        width: 250px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .profile-grid {
        height: 1750px;
    }

    .delete-account-btn {
        width: 50%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
    .profile-tiles-container {
        padding-top: 42px;
    }

    .delete-account-btn {
        width: 50%;
    }
}