<div ng-cloak class="profile-tiles-container">
    <md-grid-list
            class="profile-grid"
            md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
            md-row-height-gt-md="1:1" md-row-height="fit"
            md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="red"
                      md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
            <div layout="column">
                <div flex>
                    <h1 hide-xs>VOS INFORMATIONS</h1>
                    <h2 hide-gt-xs>VOS INFORMATIONS</h2>
                </div>
                <div flex layout="column">
                    <div flex>
                        <h2 hide-xs>{{ profileCtrl.user.prenom }}</h2>
                        <h3 hide-gt-xs>{{ profileCtrl.user.prenom }}</h3>
                    </div>
                    <div flex>
                        <h2 hide-xs>{{ profileCtrl.user.mail }}</h2>
                        <h3 hide-gt-xs>{{ profileCtrl.user.mail }}</h3>
                    </div>
                    <div flex ng-if="profileCtrl.user.telephone">
                        <h2 hide-xs>Numéro de téléphone : {{ profileCtrl.user.telephone }}</h2>
                        <h3 hide-gt-xs>Numéro de téléphone : {{ profileCtrl.user.telephone }}</h3>
                    </div>
                    <div flex>
                        <h2 hide-xs>Inscrit depuis le : {{ profileCtrl.user.dateCreation | date:'dd / MM / yyyy' }}</h2>
                        <h3 hide-gt-xs>Inscrit depuis le : {{ profileCtrl.user.dateCreation | date:'dd / MM / yyyy' }}</h3>
                    </div>
                    <div flex="40">
                        <md-button ng-if="profileCtrl.user && profileCtrl.user.role == 'USER'" class="md-raised md-primary" ng-click="profileCtrl.becomeWorker()">Devenir artisan</md-button>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary delete-account-btn" ng-click="profileCtrl.showConfirm()" layout="row" layout-align="center center">
                            <i flex="20" class="material-icons">
                                delete
                            </i>
                            <span flex>
                                SUPPRIMER VOTRE COMPTE
                            </span>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-grid-tile>

        <md-grid-tile class="gray">
            <div layout="column" layout-align="center center">
                <div flex>
                    <h2 class="header">VOS POINTS DE FIDELITE</h2>
                </div>
                <div flex>
                    <h2><strong>{{ profileCtrl.user.pointsFidelite }}</strong></h2>
                </div>
                <div flex>
                    <span class="fakeLink" ng-if="profileCtrl.canOpenJeuConcoursDialog" ng-click="profileCtrl.participateJeuConcours()">Utiliser mes points de fidélité</span>
                </div>
            </div>
            <md-grid-tile-footer>
                <h3>Cumulez des points de fidélité et participez à des jeux concours.</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="green">
            <div layout="column" layout-align="center center">
                <div flex layout="column" layout-align="center center">
                    <div flex>
                        <h2 class="header">
                            VOS BONS DE FIDELITES
                        </h2>
                    </div>
                    <h2 ng-repeat="bon in profileCtrl.user.bonAchats">
                        {{ bon.code }} : {{ bon.valeur }} €
                    </h2>
                </div>
            </div>
            <md-grid-tile-footer>
                <h3>Bons de réduction en votre possession, à utiliser sur toute commande.</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow">
            <div layout="column" layout-align="center center">
                <div flex layout="column" layout-align="center center" ng-if="profileCtrl.remainTime">
                    <div flex>
                        <h2 class="header" ng-if="profileCtrl.subscribed">
                            DECOUVERTE DANS
                        </h2>
                    </div>
                    <span style="font-size: x-large; text-align: center;">
                        {{ profileCtrl.timeBeforeDiscoverString }}
                    </span>
                    <md-progress-linear ng-if="profileCtrl.progessDate" md-mode="determinate" ng-value="profileCtrl.progessDate"></md-progress-linear>
                    <span class="fakeLink" ng-click="profileCtrl.watchHistorique()">Voir l'historique</span>
                </div>
                <div flex layout="column" layout-align="center center" ng-if="!profileCtrl.remainTime">
                    <div flex ng-if="profileCtrl.user.colisMystereListe.length > 0">
                        <h2 class="header">
                            HISTORIQUE COLIS MYSTERE
                        </h2>
                    </div>
                    <span style="font-size: x-large; text-align: center;" ng-if="profileCtrl.user.colisMystereListe.length > 0" ng-repeat="colis in profileCtrl.user.colisMystereListe">
                        <span ng-if="colis.produit">{{ colis.dateDecouverte | date:"dd/MM/yyyy"}} : {{colis.produit.nom}}</span><br/>
                    </span>
                    <span style="font-weight: bold; font-size: x-large; text-align: center;" ng-if="profileCtrl.user.colisMystereListe.length <= 0 || !profileCtrl.user.colisMystereListe[0].produit">
                        {{ profileCtrl.erreurHistoriqueColis }}
                    </span>
                    <span class="fakeLink" ng-if="profileCtrl.user.colisMystereListe.length > 0" ng-click="profileCtrl.watchTimeRemaining()">Clique pour voir le temps restant avant le prochain colis</span>
                    <span class="fakeLink" ng-if="!profileCtrl.user.estAbonne" ng-click="profileCtrl.subscribeColisMystere()">Clique pour t'abonner au colis mystere</span>
                </div>
            </div>
            <md-grid-tile-footer>
                <h3>Votre section colis mystere</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="blue">
            <md-progress-linear ng-if="!profileCtrl.endLoadingInvoices" md-mode="indeterminate"></md-progress-linear>
            <div ng-show="profileCtrl.endLoadingInvoices" layout="column" layout-align="center center">
                <div flex>
                    <h2 class="header">
                        {{ profileCtrl.titleInvoice }}
                    </h2>
                </div>

                <div flex="80" layout="column" layout-align="center center">
                    <div flex ng-repeat="invoice in profileCtrl.invoices" layout="row" layout-align="center center">
                        <span><strong>{{invoice.nom}}</strong></span>
                        <md-button hide-gt-xs class="md-raised md-primary" style="color: whitesmoke;" ng-click="downloadPdf(invoice)" layout="row" layout-align="center center">
                            <i class="material-icons">
                                get_app
                            </i>
                        </md-button>
                        <md-button hide-xs class="md-raised md-primary" style="color: whitesmoke;" ng-click="downloadPdf(invoice)">Télécharger</md-button>
                    </div>
                </div>
            </div>
            <md-grid-tile-footer>
                <h3>Vos factures</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>