

.map-container {
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 10px 0px black;
    box-shadow: 1px 5px 10px 0px black;

    position: absolute !important;
    top: 15vh;
    left: 22vw;
    width: 70vw;
    height: 70vh;
}


.img-artisan {
    width: 50px;
    border-radius: 50%;
}

.mapboxgl-popup-content {
    max-width: 350px;
}

.search-products-container {
    background-color: white;
    position: absolute;
    top: calc(50px + 5%);
    width: 25%;
    min-width: 400px;
    margin: 10% 42% 0 5%;
    padding: 2%;
    z-index: 2;
}

h1 {
    font-weight: 700;
    line-height: 30%;
    font-size: 3em;
    letter-spacing: 10px;
}

h2 {
    font-weight: 100;
    line-height: 40%;
}


.all-products i {
    line-height: 40px;
    color: #000;
}


.modal {
    width: 100px;
    height: 50px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}


@media screen and (max-width: 768px) and (min-width: 320px) {

    .search-products-container {
        display: none !important;
    }

    .search-prod-container-small {
        height: 220px;
        bottom: 0;
        position: absolute;
        z-index: 2;
    }

    .map-container {
        left: 17vw !important;
    }

}


@media screen and (max-width: 1024px) and (min-width: 769px) {

    .search-products-container {
        z-index: 2;
        top: 50px !important;
    }

    .search-prod-container-small {
        display: none !important;
    }

    .map-container {
        left: 20vw !important;
        top: 151px
    }

}

@media screen and (max-width: 1440px) and (min-width: 1025px) {


    .search-products-container {
        z-index: 2;
        top: 50px !important;
    }

    .search-prod-container-small {
        display: none !important;
    }
}