<div id="bg-image"></div>

<div ng-controller="mapCtrl as mapCtrl">
    <div
            mapboxgl
            gl-style="glStyle"
            gl-center="mapCtrl.glCenter"
            gl-zoom="{ value: 1 }"
            gl-sources="glSources"
            gl-layers="glLayers"
            width="{{ mapCtrl.glWidth }}"
            height="{{mapCtrl. glHeight }}"
            gl-markers="mapCtrl.glMarkers"
            class="map-container">
    </div>

    <md-card class="search-products-container" layout="row" hide-sm layout-wrap>
        <div flex="100" class="margin-bottom-20">
            <h1><span style="color: #8BC34A !important;">YATELI</span>.</h1>
            <h2>Prenez part  à l'écoculture</h2>
        </div>
        <md-autocomplete
                flex="100"
                class="margin-30"
                md-no-cache="mapCtrl.noCache"
                md-selected-item="mapCtrl.selectedItem"
                md-search-text-change="mapCtrl.searchTextChange(mapCtrl.searchText)"
                md-search-text="mapCtrl.searchText"
                md-selected-item-change="mapCtrl.selectedItemChange(item)"
                md-items="item in mapCtrl.querySearch(mapCtrl.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="Rechercher un produit ou un artisan...">
            <md-item-template>
                <span md-highlight-text="mapCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                Pas de résultat pour la recherche "{{mapCtrl.searchText}}".
            </md-not-found>
        </md-autocomplete>

        <button ng-click="mapCtrl.goTo('products')" class="mainpage-button bg-green all-products" aria-label="Tous les articles">
            <span>Découvrir notre offre</span>
        </button>
        <button ng-click="mapCtrl.goTo('whoweare')" class="mainpage-button bg-red all-products" aria-label="Qui sommes nous ?">
            <span>Qui sommes-nous ?</span>
        </button>
    </md-card>

    <md-card class="small search-prod-container-small" layout="row" hide-gt-lg layout-wrap>
        <div flex="100" class="margin-bottom-20">
            <h1><span style="color: #8BC34A !important;">YATELI</span>.</h1>
            <h2>Prenez part  à l'écoculture</h2>
        </div>
        <md-autocomplete
                flex="100"
                class="margin-30"
                md-no-cache="mapCtrl.noCache"
                md-selected-item="mapCtrl.selectedItem"
                md-search-text-change="mapCtrl.searchTextChange(mapCtrl.searchText)"
                md-search-text="mapCtrl.searchText"
                md-selected-item-change="mapCtrl.selectedItemChange(item)"
                md-items="item in mapCtrl.querySearch(mapCtrl.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="Rechercher un produit ou un artisan...">
            <md-item-template>
                <span md-highlight-text="mapCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
                Pas de résultat pour la recherche "{{mapCtrl.searchText}}".
            </md-not-found>
        </md-autocomplete>
    </md-card>

</div>